.back-button {
  position: relative;
  left: 912px;
  bottom: 54px;
  display: inline-flex;
  padding: 20px 52px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  border: 1px solid #000;
  background: #000;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(96, 97, 112, 0.16), 0px 2px 4px 0px rgba(40, 41, 61, 0.04), 0px 8px 16px 0px rgba(96, 97, 112, 0.16);
  }

  .back-button:hover {
    box-shadow: 0px 4px 2px #F68200;
  }
  
  .frame3 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 6px;
    box-shadow: 1px 5px 22px 4px rgba(0, 0, 0, 0.15);
  }
  
  .back {
    width: 56px;
    text-align: right;
    color: #ECE9E6;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 16px;
    word-wrap: break-word;
  }

  .fa-angle-left {
    position: relative;
    top: 2px;
    color: white;
    font-size: 18px;
    
  }
  