.headingTop {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.8em;
    font-variation-settings: "wdth" 100;
  }
  .headingBottom {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.8em;
    font-variation-settings: "wdth" 100;
  }