.foodSuggestion{
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 10px;
}


.homeFoodCard {
  padding-top: 1px;
  width: 212px;
  height: 312px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #000;
  position: relative;
  overflow: hidden; 
  transition: transform 0.3s ease;
}

.homeFoodCardImage {
  margin: auto;
  box-sizing: border-box;
  padding-top: 1px;
  border-radius: 10px;
  width: 196px;
  height: 242px;
  flex-shrink: 0;
  position: relative;
  top: 9px;
  overflow: hidden;
  transition: all 0.3s ease; 
}

.blurLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.00) 100%); 
  border-radius: 10px 10px 0 0;
  transition: all 0.3s ease; 
}

.foodName {
  position: relative;
  bottom: 230px;
  text-align: center;
  color: #FFF;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  font-family: "Open Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  
}

.cuisineName {
  position: absolute; /* Make it absolute for easy positioning */
  bottom: 10px;
  left: 1em;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: .5px;
  transition: transform 0.6s ease;
}

.homeFoodCard:hover .homeFoodCardImage {
  width: 100%; /* Expand image to full width */
  height: 100%; /* Expand image to full height */
  opacity: 50%;
}

.homeFoodCard:hover .foodName{
  transform: translateY(0px);
  transition: 0.5s ease;
}

.homeFoodCardImage:hover{
  top: 0px;
}
.homeFoodCard:hover .blurLayer {
  animation: slideDown 0.9s forwards; /* Slide down animation with slower speed */
}

@keyframes slideDown {
  0% {
    top: 0;
    border-radius: 10px 10px 0 0;
  }
  100% {
    top: 100%;
    border-radius: 0 0 10px 10px;
  }
}

.homeFoodCard:hover .cuisineName {
  transform: translateX(50px); /* Adjust the value to move it to the right side */
}
