.header {
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
    color: #f68200;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.56em;
    margin-top: 1.5rem;
    margin-bottom: 1.89em;
  }