.loader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 23.75em;
}

.loadValue {
  width: 31px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 50px;
}
.pending {
  background: #f8bf80;
}
.doneStage {
  background: #f68200;
}

input {
  border-radius: 50px;
  background: #fff;
  box-shadow: 4px 4px 4px 0px #f68200;
  display: inline-flex;
  padding: 20px 1.56em 20px 1.56em;
  align-items: center;
  width: 28.3em;
  font-size: 18px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

input:focus{
  
  outline: none;
}

label {
  color: #212121;
  font-family: "Open Sans";
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
}

.loaderBackArrow {
  font-size: 2em;
  cursor: pointer;
}

.next {
  min-width: 9.3em;
  color: white;
  display: inline-flex;
  padding: 14px 52px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  border: 1px solid #000;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(96, 97, 112, 0.16),
    0px 2px 4px 0px rgba(40, 41, 61, 0.04),
    0px 8px 16px 0px rgba(96, 97, 112, 0.16);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  font-size: 20px;
}


.skip {
  width: 8em;
  display: inline-flex;
  padding: 14px 52px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(40, 41, 61, 0.04),
    0px 8px 16px 0px rgba(96, 97, 112, 0.16);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.skip:hover{
  box-shadow: 1px 4px 1px 0px #f68200;
}
.next:hover{
  box-shadow: 1px 4px 1px 0px #f68200;
}

.inputButtonDiv {
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.checkCenter{
  font-size: 1.15em;
}


/* CSS rules for small devices */
@media (max-width: 600px) {
  .loader {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 0.2em;
  }

  .loadValue {
    width: 31px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 50px;
  }

  input {
    border: none;
    border-radius: 50px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px #f68200;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
   
  }

  .loaderBackArrow {
    font-size: 2em;
    cursor: pointer;
  }

  label {
    color: #212121;
    font-family: "Open Sans";
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    display: block;
  }

  .inputButtonDiv{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
  }

  .skip {
    width: 6em;
    display: inline-flex;
    padding: 14px 52px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 32px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(40, 41, 61, 0.04),
      0px 8px 16px 0px rgba(96, 97, 112, 0.16);
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 20px;
  }

  .next {
  min-width: 9.3em;
  color: white;
  display: inline-flex;
  padding: 14px 52px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  border: 1px solid #000;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(96, 97, 112, 0.16),
    0px 2px 4px 0px rgba(40, 41, 61, 0.04),
    0px 8px 16px 0px rgba(96, 97, 112, 0.16);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  font-size: 20px;
}

}


/* CSS rules for small devices */
@media (min-width: 600px) and (max-width: 768px) {
  .loader {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    gap: 0.2em;
  }

  .loadValue {
    width: 31px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 50px;
  }

  input {
    border: none;
    border-radius: 50px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px #f68200;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
   
  }

  .loaderBackArrow {
    font-size: 2em;
    cursor: pointer;
  }

  label {
    color: #212121;
    font-family: "Open Sans";
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    display: block;
  }

  .inputButtonDiv{
    display: flex;
    justify-content: flex-end;
    gap: 2em;

  }

}

/* CSS rules for medium devices */
@media (min-width: 768px) and (max-width: 992px) {
  .loader {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    gap: 0.3em;
  }

  .loadValue {
    width: 31px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 50px;
  }

  input {
    border: none;
    border-radius: 50px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px #f68200;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
   
  }

  .loaderBackArrow {
    font-size: 2em;
    cursor: pointer;
  }

  label {
    color: #212121;
    font-family: "Open Sans";
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    display: block;
  }

  .inputButtonDiv{
    display: flex;
    justify-content: flex-end;
    gap: 2em;

  }
}


/* CSS rules for large devices */
@media (min-width: 992px) and (max-width: 1200px) {
  .loader {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    gap: 0.1em;
  }

  .loadValue {
    width: 31px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 50px;
  }

  input {
    border: none;
    border-radius: 50px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px #f68200;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
   
  }

  .loaderBackArrow {
    font-size: 2em;
    cursor: pointer;
  }

  label {
    color: #212121;
    font-family: "Open Sans";
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    display: block;
  }

  .inputButtonDiv{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding-top: 15px;
  }

 
}

/* CSS rules for large devices */
@media (min-width: 1200px) and (max-width: 1528px) {
  .loader {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    gap: 0.1em;
  }

  .loadValue {
    width: 31px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 50px;
  }

  input {
    border: none;
    border-radius: 50px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px #f68200;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
   
  }

  .loaderBackArrow {
    font-size: 2em;
    cursor: pointer;
  }

  label {
    color: #212121;
    font-family: "Open Sans";
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    display: block;
    width: 100%;
  }

  .inputButtonDiv{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding-top: 15px;
  }

 form{
  display: flex;
  flex-direction: column;
  width: 50%;
 } 
}

/* CSS rules for extra large devices */
@media (min-width: 1528px) {
  .loader {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    gap: 0.1em;
  }

  .loadValue {
    width: 31px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 50px;
  }

  input {
    border: none;
    border-radius: 50px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px #f68200;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
   
  }

  .loaderBackArrow {
    font-size: 2em;
    cursor: pointer;
  }

  label {
    color: #212121;
    font-family: "Open Sans";
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    display: block;
    width: 100%;
  }

  .inputButtonDiv{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding-top: 15px;
  }

 form{
  display: flex;
  flex-direction: column;
  width: 50%;
 } 
}